.todoListWrap {
  margin: calc(var(--spacing-base) * 4) 0;
}

.todoList {
  padding: 0;
  list-style: none;
}

.alertWrap {
  display: flex;
  padding: var(--spacing-base);
  background: var(--alert-color);
  opacity: var(--opacity);
  align-items: center;
}

.alertMsg {
  margin-left: var(--spacing-base);
}
