.todoListWrap {
  margin: 32px 0;
}

.todoList {
  padding: 0;
  list-style: none;
}

.alertWrap {
  display: flex;
  padding: 8px;
  background: orange;
  opacity: 0.6;
  align-items: center;
}

.alertMsg {
  margin-left: 8px;
}
