.todo {
  display: flex;
  justify-content: space-between;
  background: var(--light-grey);
  padding: var(--spacing-base);
  margin-bottom: var(--spacing-base);
  cursor: pointer;
  opacity: var(--opacity);
}

.todo:hover {
  opacity: var(--opacity-hover);
}

.todo:last-of-type {
  margin-bottom: 0;
}

.completedTodo {
  background: var(--success-color);
  text-decoration: line-through;
}

.deleteBtn {
  border: 2px solid var(--text-color);
  border-radius: 15%;
  padding: var(--spacing-base);
}

.deleteBtn:hover {
  border: 2px solid var(--danger-color);
}
