:root {
  --font-family: Verdana, Geneva, Tahoma, sans-serif;
  --font-size-base: 16px;
  --spacing-base: 8px;
  --text-color: #17202a;
  --light-grey: #eaecee;
  --mid-grey: #d5d8dc;
  --dark-grey: #808b96;
  --alert-color: #f39c12;
  --success-color: #2ecc71;
  --danger-color: #e74c3c;
  --opacity: 0.6;
  --opacity-hover: 1;
}

/* global styles */

* {
  font-family: var(--font-family);
  color: var(--text-color);
}

form {
  display: flex;
  justify-content: center;
}

input,
button {
  border: none;
  padding: var(--spacing-base);
}

input {
  outline: none;
}

button {
  background: var(--mid-grey);
  cursor: pointer;
}

button:hover {
  background: var(--light-grey);
}

button:disabled {
  color: var(--alert-color);
}
