.linkBtn {
  cursor: pointer;
  margin-right: calc(var(--spacing-base) * 0.5);
  border: none;
  text-transform: uppercase;
  padding: var(--spacing-base);
}

.linkBtn:last-of-type {
  margin-right: 0;
}

.linkBtn:hover {
  opacity: 0.6;
}
